/*
	Authors:
	 	Brito Segura Angel
	 	Tovar Herrera Carlos Eduardo
		Zazueta Barajas Sebastián Pedro
	License: MIT
	Version 1.3
	Date: 07/12/2021
	Description: Estilos de la página principal
*/
body {
	background-color: green;
}

h1 {
 	color: #FFCC99; /* Color carne */
 	font-size: 36px;
 	text-align: center;
}

h2 {
	color: #801810; 
	font-family: Helvetica, Arial, sans-serif; 
	margin-left: 120px;
	margin-right: 120px;
	background-color: hsla(0, 24%, 93%, 0.767);
	font-size: 36px;
	text-align: center;
}

#contenedorIrrigacion {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica, Arial, sans-serif; 
	border: 5px  green;
	background-color: rgb(66, 181, 235);    
	text-align: justify;
  }
  
#contenedorIrrigacion > div {
	width: 33%;
}

#contenedorTemperatura {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica, Arial, sans-serif; 
	border: 5px  green;
	background-color: rgb(235, 231, 18);    
	text-align: left;
}

#contenedorTemperatura > div {
	width: 33%;
}

.horarios {
	height:100px;
	background-color: rgb(56, 129, 212, 0.808);    
	text-align: center;
}

.programa {
	height:210px;
	background-color: rgb(214, 224, 235); 
	font-family: Helvetica, Arial, sans-serif;  
	vertical-align: middle; 
	text-align: center;
}

.programa2{
	height:145px;
	background-color: rgb(214, 224, 235);   
	vertical-align: middle; 
	text-align: left;
}

#contenedorRadiador {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica, Arial, sans-serif; 
	border: 5px green;
	background-color: rgb(172, 172, 172);    
	text-align: justify;
}

#contenedorRadiador > div {
	width: 33%;
}

#contenedorVentilador {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica, Arial, sans-serif; 
	border: 5px green;
	background-color: rgb(122, 178, 230);    
	text-align: left;
}
  
#contenedorVentilador > div {
	width: 33%;
}

#contenedorGrafica {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-right: 120px; 
	background-color: rgb(255, 255, 255);    
	vertical-align: middle;
	text-align: center;
}

#contenedorGrafica > div {
	width: 40%;
}

.grafica {
	margin-left: 120px; 
	height: 450px;
	width: 800px;
	background-color: rgb(255, 255, 255);
	vertical-align: middle;
	top: 50%;
	text-align: center;
} 
